# Core Components
streamlit==1.34.0
streamlit-clickable-images==1.0.0

# Computer Vision & AI
insightface==0.7.3
onnxruntime==1.16.0
opencv-python-headless==4.8.0.76
scikit-learn==1.3.0

# Math & Data
numpy==1.24.3
ml-dtypes==0.4.0

# Image Processing
Pillow==10.3.0